fastapi==0.104.1
uvicorn==0.24.0
motor==3.3.2
pymongo==4.6.0
python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.0
textblob==0.17.1
websockets==12.0
apscheduler==3.10.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
spacy[apple,lookups,transformers] @ https://files.pythonhosted.org/packages/ee/85/0b7b2a6057e12df825e4eb84bbb5d5bfa67a4c542c5e3db8cefe785b1ebe/spacy-3.7.2-cp311-cp311-linux_x86_64.whl
